* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
}

.fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("./Img-Fundo.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.fomulario {
  display: flex;
  flex-direction: column;
  background-color: azure;
  padding: 22px;
  gap: 12px;
  background-color: rgba(0.1, 0.1, 0, 0.1);
  border-radius: 10px;
  border: 0.5px solid rgb(201, 209, 206);
  margin-left: 90px;
}

.teste {
  color: White;
  font-weight: bold;
  font-size: 28px;
  font-family: OCR A Std, monospace;
  padding: 17px;
}

input.campo {
  border-radius: 25px;
  width: 350px;
  height: 30px;
  padding: 10px;
  background-color: rgba(0.1, 0.1, 0, 0.1);
  border: 0.5px solid rgb(201, 209, 206);
  font-size: 16px;
  color: rgb(117, 181, 237);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 200px;
  height: 45px;
  background-color: rgba(0.1, 0.1, 0, 0.1);
  border: 0.5px solid rgb(201, 209, 206);
  font-size: 16px;
  color: white;
  margin-left: 98px;
}

a {
  color: white;
}

.tudo-conf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  gap: 60px;
}
